* {
    padding: 0;
    margin: 0;
   box-sizing: border-box;
  }
  body{
    height: 100vh;         
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    url(background.jpg);
    background-position: center;
    background-size: cover;
  }
  .book-form {        
    width: 350px;
    height: auto;
    border: 3px solid #2af74c;
    margin: 10% auto 0;
    padding: 10px 10px 0px;        
  }
  .book-form input{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: auto;        
  }
  .book-form .true{
    cursor: pointer;
    border-color: rgb(90, 236, 6);
    background-color: rgb(224, 248, 6);
    color: rgb(7, 7, 7);
    font-size:  20px;
  }
  .book-form .false{
    cursor: pointer;
    border-color: #25ff49;
    background-color: rgb(224, 248, 6);
    font-size: 20px;
  }
  .book-form .option{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
  }